.page {
  min-width: 1100px;
  max-width: 1600px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  font-family: "Inter", Arial, sans-serif;
}
.header {
}
.content {
}
.recipes {
}
.reservation {
}
.footer {
}
